.App {
  text-align: center;
  margin: 20px;
}
#addDocumentForm {
  display: inline-block;
  text-align: center;
}
div {
  margin: 10px 0;
}

table, th, td {
  border: 1px solid black;
}

.dataTable{
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
button{
  text-align: center;
}